#stars {
    content: "e";
    background: transparent;
    box-shadow: 1744px 122px #c49129, 134px 1321px #c49129, 92px 859px #c49129,
        235px 1045px #c49129, 366px 912px #c49129, 491px 942px #c49129,
        14px 1831px #c49129, 582px 476px #c49129, 588px 1230px #c49129,
        1520px 1343px #c49129, 1671px 203px #c49129, 550px 341px #c49129,
        1491px 549px #c49129, 558px 161px #c49129, 896px 1823px #c49129,
        999px 1463px #c49129, 1557px 636px #c49129, 1754px 1307px #c49129,
        1682px 1494px #c49129, 703px 1707px #c49129, 1945px 1847px #c49129,
        1151px 1320px #c49129, 980px 144px #c49129, 478px 948px #c49129,
        109px 1762px #c49129, 558px 255px #c49129, 719px 1820px #c49129,
        588px 748px #c49129, 1899px 174px #c49129, 841px 1771px #c49129,
        571px 1588px #c49129, 1155px 353px #c49129, 1879px 1220px #c49129,
        1782px 870px #c49129, 407px 1238px #c49129, 1141px 63px #c49129,
        1147px 1097px #c49129, 1406px 159px #c49129, 637px 1215px #c49129,
        694px 1114px #c49129, 1536px 727px #c49129, 1708px 1512px #c49129,
        1147px 880px #c49129, 684px 988px #c49129, 140px 851px #c49129,
        1565px 1788px #c49129, 1573px 889px #c49129, 1172px 628px #c49129,
        1474px 1978px #c49129, 435px 447px #c49129, 185px 1808px #c49129,
        620px 1560px #c49129, 1387px 1196px #c49129, 138px 1854px #c49129,
        137px 1499px #c49129, 1721px 1132px #c49129, 10px 32px #c49129,
        1931px 1990px #c49129, 209px 91px #c49129, 1876px 1795px #c49129,
        1130px 1551px #c49129, 284px 1848px #c49129, 389px 1603px #c49129,
        612px 1121px #c49129, 825px 1926px #c49129, 161px 344px #c49129,
        1729px 333px #c49129, 1037px 37px #c49129, 844px 1085px #c49129,
        1179px 554px #c49129, 50px 478px #c49129, 1864px 704px #c49129,
        233px 723px #c49129, 1202px 445px #c49129, 882px 189px #c49129,
        362px 735px #c49129, 924px 411px #c49129, 902px 209px #c49129,
        104px 185px #c49129, 1599px 1852px #c49129, 1974px 944px #c49129,
        438px 1164px #c49129, 401px 1533px #c49129, 191px 1429px #c49129,
        251px 1034px #c49129, 1807px 1412px #c49129, 72px 23px #c49129,
        1752px 1146px #c49129, 261px 1481px #c49129, 548px 33px #c49129,
        710px 1204px #c49129, 355px 1697px #c49129, 581px 100px #c49129,
        318px 1146px #c49129, 929px 79px #c49129, 999px 347px #c49129,
        155px 292px #c49129, 271px 677px #c49129, 920px 1596px #c49129,
        1736px 184px #c49129, 1022px 1790px #c49129, 1465px 1762px #c49129,
        820px 526px #c49129, 175px 37px #c49129, 440px 746px #c49129,
        681px 1879px #c49129, 690px 1135px #c49129, 1960px 1453px #c49129,
        422px 856px #c49129, 1217px 1232px #c49129, 1015px 1695px #c49129,
        1933px 492px #c49129, 272px 448px #c49129, 1578px 1487px #c49129,
        437px 874px #c49129, 947px 838px #c49129, 1339px 867px #c49129,
        1484px 773px #c49129, 764px 66px #c49129, 418px 707px #c49129,
        192px 1909px #c49129, 1629px 215px #c49129, 171px 260px #c49129,
        1180px 220px #c49129, 488px 857px #c49129, 593px 493px #c49129,
        1794px 886px #c49129, 1673px 1977px #c49129, 905px 1193px #c49129,
        1372px 1843px #c49129, 1605px 908px #c49129, 659px 181px #c49129,
        700px 1758px #c49129, 812px 1200px #c49129, 1800px 1440px #c49129,
        1858px 212px #c49129, 628px 1026px #c49129, 1825px 1556px #c49129,
        1641px 1750px #c49129, 1195px 1086px #c49129, 1465px 558px #c49129,
        1634px 436px #c49129, 1354px 1831px #c49129, 1212px 1485px #c49129,
        1491px 994px #c49129, 604px 1279px #c49129, 413px 1131px #c49129,
        1677px 1086px #c49129, 841px 47px #c49129, 146px 489px #c49129,
        117px 1195px #c49129, 67px 47px #c49129, 883px 258px #c49129,
        1801px 1294px #c49129, 594px 1870px #c49129, 649px 531px #c49129,
        721px 132px #c49129, 975px 1616px #c49129, 716px 94px #c49129,
        295px 791px #c49129, 174px 1814px #c49129, 1130px 298px #c49129,
        1747px 1835px #c49129, 605px 1521px #c49129, 78px 743px #c49129,
        1685px 311px #c49129, 804px 341px #c49129, 1440px 852px #c49129,
        1607px 1692px #c49129, 698px 1112px #c49129, 1153px 1608px #c49129,
        539px 999px #c49129, 262px 353px #c49129, 457px 1246px #c49129,
        1858px 998px #c49129, 364px 431px #c49129, 1907px 912px #c49129,
        541px 916px #c49129, 168px 1384px #c49129, 357px 1321px #c49129,
        1859px 1866px #c49129, 1001px 909px #c49129, 842px 1663px #c49129,
        369px 1176px #c49129, 932px 1372px #c49129, 1606px 732px #c49129,
        1844px 857px #c49129, 974px 1588px #c49129, 804px 1139px #c49129,
        65px 1213px #c49129, 1066px 863px #c49129, 1991px 1734px #c49129,
        300px 738px #c49129, 1260px 1141px #c49129, 83px 260px #c49129,
        1219px 167px #c49129, 613px 990px #c49129, 873px 81px #c49129,
        362px 235px #c49129, 373px 372px #c49129, 80px 247px #c49129,
        902px 1141px #c49129, 294px 464px #c49129, 766px 1925px #c49129,
        1151px 1305px #c49129, 1250px 1593px #c49129, 1289px 119px #c49129,
        1525px 1505px #c49129, 234px 1306px #c49129, 571px 858px #c49129,
        571px 996px #c49129, 766px 1342px #c49129, 1371px 716px #c49129,
        711px 1939px #c49129, 904px 1797px #c49129, 424px 1710px #c49129,
        762px 1614px #c49129, 1389px 1290px #c49129, 905px 689px #c49129,
        352px 38px #c49129, 2000px 1317px #c49129, 597px 864px #c49129,
        824px 711px #c49129, 966px 1060px #c49129, 958px 992px #c49129,
        1121px 324px #c49129, 1624px 688px #c49129, 1737px 702px #c49129,
        1566px 1344px #c49129, 697px 368px #c49129, 291px 1126px #c49129,
        1732px 50px #c49129, 712px 1941px #c49129, 1257px 372px #c49129,
        317px 1462px #c49129, 222px 309px #c49129, 1139px 647px #c49129,
        170px 878px #c49129, 1272px 1511px #c49129, 1009px 1912px #c49129,
        1875px 1105px #c49129, 1968px 1370px #c49129, 1193px 687px #c49129,
        1498px 611px #c49129, 247px 1993px #c49129, 1686px 1611px #c49129,
        937px 340px #c49129, 114px 1423px #c49129, 496px 1191px #c49129,
        110px 1284px #c49129, 876px 687px #c49129, 1173px 214px #c49129,
        210px 628px #c49129, 302px 1173px #c49129, 1318px 939px #c49129,
        1665px 1310px #c49129, 66px 338px #c49129, 1355px 615px #c49129,
        1139px 1672px #c49129, 91px 1000px #c49129, 112px 422px #c49129,
        89px 503px #c49129, 97px 1599px #c49129, 1031px 1955px #c49129,
        1755px 1532px #c49129, 1764px 1930px #c49129, 1822px 1751px #c49129,
        133px 401px #c49129, 718px 85px #c49129, 1797px 78px #c49129,
        520px 1725px #c49129, 226px 406px #c49129, 1561px 1574px #c49129,
        340px 1602px #c49129, 718px 976px #c49129, 1823px 570px #c49129,
        1298px 484px #c49129, 1023px 1903px #c49129, 1266px 1334px #c49129,
        763px 877px #c49129, 223px 631px #c49129, 1761px 1293px #c49129,
        878px 1px #c49129, 973px 696px #c49129, 975px 1841px #c49129,
        1276px 302px #c49129, 1399px 1324px #c49129, 1706px 872px #c49129,
        341px 1960px #c49129, 1384px 1655px #c49129, 1897px 767px #c49129,
        68px 405px #c49129, 705px 310px #c49129, 194px 103px #c49129,
        1432px 368px #c49129, 1262px 1682px #c49129, 1933px 1526px #c49129,
        263px 655px #c49129, 1031px 1031px #c49129, 1557px 788px #c49129,
        1558px 1360px #c49129, 812px 421px #c49129, 1951px 734px #c49129,
        1567px 498px #c49129, 1832px 1229px #c49129, 913px 164px #c49129,
        1907px 1273px #c49129, 533px 749px #c49129, 1235px 951px #c49129,
        645px 1959px #c49129, 92px 1570px #c49129, 1169px 1434px #c49129,
        118px 1223px #c49129, 583px 957px #c49129, 1245px 316px #c49129,
        527px 863px #c49129, 372px 1007px #c49129, 244px 1251px #c49129,
        314px 494px #c49129, 1842px 1463px #c49129, 1315px 730px #c49129,
        1655px 1366px #c49129, 482px 979px #c49129, 340px 1808px #c49129,
        256px 578px #c49129, 858px 1792px #c49129, 1965px 403px #c49129,
        454px 253px #c49129, 1664px 698px #c49129, 1974px 750px #c49129,
        262px 1801px #c49129, 1652px 1076px #c49129, 992px 711px #c49129,
        1792px 1323px #c49129, 700px 1748px #c49129, 855px 966px #c49129,
        1833px 1747px #c49129, 402px 1272px #c49129, 1391px 1039px #c49129,
        1395px 1538px #c49129, 397px 1972px #c49129, 744px 1403px #c49129,
        1784px 1046px #c49129, 111px 198px #c49129, 1827px 473px #c49129,
        1347px 1891px #c49129, 1238px 1081px #c49129, 189px 908px #c49129,
        1513px 542px #c49129, 673px 981px #c49129, 720px 1184px #c49129,
        373px 792px #c49129, 1470px 1631px #c49129, 16px 822px #c49129,
        1935px 829px #c49129, 364px 613px #c49129, 223px 899px #c49129,
        1233px 874px #c49129, 1441px 1834px #c49129, 719px 894px #c49129,
        76px 1610px #c49129, 296px 685px #c49129, 572px 1637px #c49129,
        349px 114px #c49129, 1670px 1802px #c49129, 979px 928px #c49129,
        1589px 574px #c49129, 756px 194px #c49129, 616px 507px #c49129,
        271px 186px #c49129, 198px 360px #c49129, 1916px 418px #c49129,
        721px 667px #c49129, 1937px 1908px #c49129, 17px 556px #c49129,
        345px 443px #c49129, 718px 760px #c49129, 1922px 310px #c49129,
        1185px 887px #c49129, 1745px 1848px #c49129, 909px 847px #c49129,
        1170px 134px #c49129, 1773px 1133px #c49129, 1099px 233px #c49129,
        1122px 1524px #c49129, 866px 907px #c49129, 398px 213px #c49129,
        1287px 886px #c49129, 1194px 149px #c49129, 1876px 1667px #c49129,
        332px 1658px #c49129, 146px 1253px #c49129, 958px 211px #c49129,
        643px 47px #c49129, 1213px 1339px #c49129, 1637px 1939px #c49129,
        1601px 355px #c49129, 256px 1982px #c49129, 989px 1609px #c49129,
        1179px 701px #c49129, 685px 1463px #c49129, 1910px 465px #c49129,
        764px 1930px #c49129, 1856px 433px #c49129, 720px 367px #c49129,
        1821px 416px #c49129, 48px 1114px #c49129, 716px 489px #c49129,
        174px 1972px #c49129, 115px 1373px #c49129, 1487px 141px #c49129,
        1919px 1362px #c49129, 1662px 859px #c49129, 1168px 490px #c49129,
        706px 1820px #c49129, 588px 318px #c49129, 107px 778px #c49129,
        621px 1667px #c49129, 1331px 1996px #c49129, 1404px 1154px #c49129,
        860px 1019px #c49129, 1385px 1883px #c49129, 1066px 1951px #c49129,
        752px 444px #c49129, 955px 1031px #c49129, 1256px 1899px #c49129,
        961px 1455px #c49129, 1101px 84px #c49129, 890px 335px #c49129,
        798px 40px #c49129, 138px 54px #c49129, 1934px 252px #c49129,
        429px 324px #c49129, 1645px 1522px #c49129, 218px 737px #c49129,
        1625px 531px #c49129, 605px 1290px #c49129, 1867px 648px #c49129,
        82px 1137px #c49129, 231px 1423px #c49129, 471px 944px #c49129,
        1363px 1752px #c49129, 482px 1364px #c49129, 1305px 627px #c49129,
        1065px 891px #c49129, 217px 1841px #c49129, 1843px 1501px #c49129,
        1681px 734px #c49129, 185px 856px #c49129, 609px 1094px #c49129,
        49px 1657px #c49129, 783px 594px #c49129, 1018px 1123px #c49129,
        644px 1149px #c49129, 739px 1262px #c49129, 1439px 1187px #c49129,
        1789px 1507px #c49129, 941px 791px #c49129, 1319px 1308px #c49129,
        498px 626px #c49129, 1594px 858px #c49129, 783px 71px #c49129,
        576px 1976px #c49129, 1625px 696px #c49129, 1821px 352px #c49129,
        1039px 885px #c49129, 208px 430px #c49129, 124px 198px #c49129,
        1964px 686px #c49129, 1440px 1952px #c49129, 231px 1435px #c49129,
        1846px 853px #c49129, 1174px 536px #c49129, 1228px 310px #c49129,
        1380px 699px #c49129, 1116px 169px #c49129, 1416px 1007px #c49129,
        178px 192px #c49129, 1302px 1903px #c49129, 1892px 154px #c49129,
        962px 1032px #c49129, 1009px 1916px #c49129, 1549px 1206px #c49129,
        899px 968px #c49129, 902px 543px #c49129, 1516px 542px #c49129,
        965px 527px #c49129, 1594px 696px #c49129, 856px 1719px #c49129,
        1522px 248px #c49129, 1795px 283px #c49129, 1144px 946px #c49129,
        1365px 199px #c49129, 359px 1347px #c49129, 1506px 263px #c49129,
        433px 1793px #c49129, 201px 247px #c49129, 942px 838px #c49129,
        1122px 1065px #c49129, 1997px 108px #c49129, 306px 989px #c49129,
        641px 1713px #c49129, 1072px 959px #c49129, 1874px 1079px #c49129,
        1938px 269px #c49129, 891px 389px #c49129, 22px 574px #c49129,
        727px 474px #c49129, 1671px 1649px #c49129, 98px 400px #c49129,
        641px 798px #c49129, 1218px 1051px #c49129, 907px 1485px #c49129,
        1002px 1549px #c49129, 1932px 1448px #c49129, 1132px 573px #c49129,
        1222px 1147px #c49129, 1009px 451px #c49129, 698px 1940px #c49129,
        97px 1123px #c49129, 904px 751px #c49129, 1904px 593px #c49129,
        1451px 1658px #c49129, 191px 1606px #c49129, 1346px 482px #c49129,
        1935px 1086px #c49129, 1052px 224px #c49129, 526px 1810px #c49129,
        1607px 606px #c49129, 427px 1830px #c49129, 1546px 407px #c49129,
        1771px 208px #c49129, 1714px 181px #c49129, 1332px 943px #c49129,
        1663px 1094px #c49129, 1861px 1747px #c49129, 1429px 1217px #c49129,
        1733px 1915px #c49129, 925px 1179px #c49129, 735px 781px #c49129,
        1775px 1989px #c49129, 1770px 476px #c49129, 844px 400px #c49129,
        1793px 1517px #c49129, 544px 281px #c49129, 725px 344px #c49129,
        1274px 764px #c49129, 1845px 339px #c49129, 582px 1745px #c49129,
        351px 1287px #c49129, 207px 749px #c49129, 1063px 1411px #c49129,
        1246px 342px #c49129, 1538px 166px #c49129, 770px 602px #c49129,
        1214px 1971px #c49129, 113px 294px #c49129, 1157px 101px #c49129,
        1657px 517px #c49129, 637px 1693px #c49129, 961px 1649px #c49129,
        1754px 1572px #c49129, 1885px 659px #c49129, 238px 34px #c49129,
        413px 1027px #c49129, 1709px 1556px #c49129, 460px 878px #c49129,
        1597px 608px #c49129, 544px 434px #c49129, 1258px 477px #c49129,
        565px 1863px #c49129, 426px 322px #c49129, 1917px 850px #c49129,
        296px 144px #c49129, 643px 1896px #c49129, 511px 116px #c49129,
        359px 847px #c49129, 702px 1133px #c49129, 857px 1371px #c49129,
        559px 1758px #c49129, 1615px 1223px #c49129, 1927px 1736px #c49129,
        704px 941px #c49129, 1932px 942px #c49129, 1462px 335px #c49129,
        154px 1915px #c49129, 1387px 918px #c49129, 1512px 1041px #c49129,
        1094px 1334px #c49129, 1678px 865px #c49129, 1960px 431px #c49129,
        666px 1258px #c49129, 422px 1215px #c49129, 345px 802px #c49129,
        1207px 647px #c49129, 1701px 374px #c49129, 1440px 1925px #c49129,
        1536px 1163px #c49129, 905px 155px #c49129, 843px 1036px #c49129,
        660px 823px #c49129, 1329px 661px #c49129, 1867px 899px #c49129,
        1022px 514px #c49129, 1062px 1570px #c49129, 888px 1786px #c49129,
        699px 1738px #c49129, 1831px 1712px #c49129, 434px 18px #c49129,
        227px 205px #c49129, 520px 1279px #c49129, 1329px 764px #c49129,
        1824px 47px #c49129, 112px 266px #c49129, 830px 1140px #c49129,
        478px 637px #c49129, 634px 850px #c49129, 711px 873px #c49129,
        987px 249px #c49129, 1454px 909px #c49129, 699px 922px #c49129,
        1458px 1142px #c49129, 701px 1893px #c49129, 134px 384px #c49129,
        904px 354px #c49129, 1913px 1229px #c49129, 1606px 1336px #c49129,
        976px 1776px #c49129, 1726px 605px #c49129, 1244px 590px #c49129,
        1351px 526px #c49129, 1997px 130px #c49129, 1137px 1134px #c49129,
        1293px 283px #c49129, 977px 1608px #c49129, 422px 1252px #c49129,
        236px 1653px #c49129, 28px 1722px #c49129, 698px 39px #c49129,
        5px 434px #c49129, 1430px 1466px #c49129, 1470px 1596px #c49129,
        487px 81px #c49129, 186px 340px #c49129, 1941px 1px #c49129,
        1342px 487px #c49129, 813px 1855px #c49129, 1445px 148px #c49129,
        1965px 1428px #c49129, 1122px 1277px #c49129, 846px 820px #c49129,
        1804px 228px #c49129, 1501px 121px #c49129, 215px 1033px #c49129,
        244px 426px #c49129, 976px 453px #c49129, 566px 953px #c49129,
        1772px 213px #c49129, 1323px 1778px #c49129, 1350px 817px #c49129,
        803px 913px #c49129, 1395px 1359px #c49129, 1995px 119px #c49129,
        579px 1963px #c49129, 862px 1621px #c49129, 1718px 825px #c49129,
        823px 27px #c49129, 1252px 41px #c49129, 1562px 835px #c49129,
        1730px 633px #c49129, 1723px 1939px #c49129, 524px 1824px #c49129,
        1921px 1450px #c49129, 1174px 1062px #c49129, 1008px 1932px #c49129,
        467px 334px #c49129, 80px 818px #c49129, 1266px 1185px #c49129,
        1589px 807px #c49129, 1221px 320px #c49129, 1724px 852px #c49129,
        1194px 286px #c49129, 800px 1835px #c49129, 1958px 728px #c49129,
        1271px 376px #c49129, 43px 1654px #c49129, 77px 803px #c49129,
        1399px 197px #c49129, 591px 1743px #c49129, 652px 1925px #c49129,
        107px 1939px #c49129, 1110px 1708px #c49129, 797px 1480px #c49129,
        1516px 684px #c49129, 559px 1733px #c49129, 1265px 718px #c49129,
        1263px 54px #c49129, 693px 113px #c49129, 1456px 1459px #c49129,
        1527px 1324px #c49129;
    animation: animStar 30s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1744px 122px #c49129, 134px 1321px #c49129, 92px 859px #c49129,
        235px 1045px #c49129, 366px 912px #c49129, 491px 942px #c49129,
        14px 1831px #c49129, 582px 476px #c49129, 588px 1230px #c49129,
        1520px 1343px #c49129, 1671px 203px #c49129, 550px 341px #c49129,
        1491px 549px #c49129, 558px 161px #c49129, 896px 1823px #c49129,
        999px 1463px #c49129, 1557px 636px #c49129, 1754px 1307px #c49129,
        1682px 1494px #c49129, 703px 1707px #c49129, 1945px 1847px #c49129,
        1151px 1320px #c49129, 980px 144px #c49129, 478px 948px #c49129,
        109px 1762px #c49129, 558px 255px #c49129, 719px 1820px #c49129,
        588px 748px #c49129, 1899px 174px #c49129, 841px 1771px #c49129,
        571px 1588px #c49129, 1155px 353px #c49129, 1879px 1220px #c49129,
        1782px 870px #c49129, 407px 1238px #c49129, 1141px 63px #c49129,
        1147px 1097px #c49129, 1406px 159px #c49129, 637px 1215px #c49129,
        694px 1114px #c49129, 1536px 727px #c49129, 1708px 1512px #c49129,
        1147px 880px #c49129, 684px 988px #c49129, 140px 851px #c49129,
        1565px 1788px #c49129, 1573px 889px #c49129, 1172px 628px #c49129,
        1474px 1978px #c49129, 435px 447px #c49129, 185px 1808px #c49129,
        620px 1560px #c49129, 1387px 1196px #c49129, 138px 1854px #c49129,
        137px 1499px #c49129, 1721px 1132px #c49129, 10px 32px #c49129,
        1931px 1990px #c49129, 209px 91px #c49129, 1876px 1795px #c49129,
        1130px 1551px #c49129, 284px 1848px #c49129, 389px 1603px #c49129,
        612px 1121px #c49129, 825px 1926px #c49129, 161px 344px #c49129,
        1729px 333px #c49129, 1037px 37px #c49129, 844px 1085px #c49129,
        1179px 554px #c49129, 50px 478px #c49129, 1864px 704px #c49129,
        233px 723px #c49129, 1202px 445px #c49129, 882px 189px #c49129,
        362px 735px #c49129, 924px 411px #c49129, 902px 209px #c49129,
        104px 185px #c49129, 1599px 1852px #c49129, 1974px 944px #c49129,
        438px 1164px #c49129, 401px 1533px #c49129, 191px 1429px #c49129,
        251px 1034px #c49129, 1807px 1412px #c49129, 72px 23px #c49129,
        1752px 1146px #c49129, 261px 1481px #c49129, 548px 33px #c49129,
        710px 1204px #c49129, 355px 1697px #c49129, 581px 100px #c49129,
        318px 1146px #c49129, 929px 79px #c49129, 999px 347px #c49129,
        155px 292px #c49129, 271px 677px #c49129, 920px 1596px #c49129,
        1736px 184px #c49129, 1022px 1790px #c49129, 1465px 1762px #c49129,
        820px 526px #c49129, 175px 37px #c49129, 440px 746px #c49129,
        681px 1879px #c49129, 690px 1135px #c49129, 1960px 1453px #c49129,
        422px 856px #c49129, 1217px 1232px #c49129, 1015px 1695px #c49129,
        1933px 492px #c49129, 272px 448px #c49129, 1578px 1487px #c49129,
        437px 874px #c49129, 947px 838px #c49129, 1339px 867px #c49129,
        1484px 773px #c49129, 764px 66px #c49129, 418px 707px #c49129,
        192px 1909px #c49129, 1629px 215px #c49129, 171px 260px #c49129,
        1180px 220px #c49129, 488px 857px #c49129, 593px 493px #c49129,
        1794px 886px #c49129, 1673px 1977px #c49129, 905px 1193px #c49129,
        1372px 1843px #c49129, 1605px 908px #c49129, 659px 181px #c49129,
        700px 1758px #c49129, 812px 1200px #c49129, 1800px 1440px #c49129,
        1858px 212px #c49129, 628px 1026px #c49129, 1825px 1556px #c49129,
        1641px 1750px #c49129, 1195px 1086px #c49129, 1465px 558px #c49129,
        1634px 436px #c49129, 1354px 1831px #c49129, 1212px 1485px #c49129,
        1491px 994px #c49129, 604px 1279px #c49129, 413px 1131px #c49129,
        1677px 1086px #c49129, 841px 47px #c49129, 146px 489px #c49129,
        117px 1195px #c49129, 67px 47px #c49129, 883px 258px #c49129,
        1801px 1294px #c49129, 594px 1870px #c49129, 649px 531px #c49129,
        721px 132px #c49129, 975px 1616px #c49129, 716px 94px #c49129,
        295px 791px #c49129, 174px 1814px #c49129, 1130px 298px #c49129,
        1747px 1835px #c49129, 605px 1521px #c49129, 78px 743px #c49129,
        1685px 311px #c49129, 804px 341px #c49129, 1440px 852px #c49129,
        1607px 1692px #c49129, 698px 1112px #c49129, 1153px 1608px #c49129,
        539px 999px #c49129, 262px 353px #c49129, 457px 1246px #c49129,
        1858px 998px #c49129, 364px 431px #c49129, 1907px 912px #c49129,
        541px 916px #c49129, 168px 1384px #c49129, 357px 1321px #c49129,
        1859px 1866px #c49129, 1001px 909px #c49129, 842px 1663px #c49129,
        369px 1176px #c49129, 932px 1372px #c49129, 1606px 732px #c49129,
        1844px 857px #c49129, 974px 1588px #c49129, 804px 1139px #c49129,
        65px 1213px #c49129, 1066px 863px #c49129, 1991px 1734px #c49129,
        300px 738px #c49129, 1260px 1141px #c49129, 83px 260px #c49129,
        1219px 167px #c49129, 613px 990px #c49129, 873px 81px #c49129,
        362px 235px #c49129, 373px 372px #c49129, 80px 247px #c49129,
        902px 1141px #c49129, 294px 464px #c49129, 766px 1925px #c49129,
        1151px 1305px #c49129, 1250px 1593px #c49129, 1289px 119px #c49129,
        1525px 1505px #c49129, 234px 1306px #c49129, 571px 858px #c49129,
        571px 996px #c49129, 766px 1342px #c49129, 1371px 716px #c49129,
        711px 1939px #c49129, 904px 1797px #c49129, 424px 1710px #c49129,
        762px 1614px #c49129, 1389px 1290px #c49129, 905px 689px #c49129,
        352px 38px #c49129, 2000px 1317px #c49129, 597px 864px #c49129,
        824px 711px #c49129, 966px 1060px #c49129, 958px 992px #c49129,
        1121px 324px #c49129, 1624px 688px #c49129, 1737px 702px #c49129,
        1566px 1344px #c49129, 697px 368px #c49129, 291px 1126px #c49129,
        1732px 50px #c49129, 712px 1941px #c49129, 1257px 372px #c49129,
        317px 1462px #c49129, 222px 309px #c49129, 1139px 647px #c49129,
        170px 878px #c49129, 1272px 1511px #c49129, 1009px 1912px #c49129,
        1875px 1105px #c49129, 1968px 1370px #c49129, 1193px 687px #c49129,
        1498px 611px #c49129, 247px 1993px #c49129, 1686px 1611px #c49129,
        937px 340px #c49129, 114px 1423px #c49129, 496px 1191px #c49129,
        110px 1284px #c49129, 876px 687px #c49129, 1173px 214px #c49129,
        210px 628px #c49129, 302px 1173px #c49129, 1318px 939px #c49129,
        1665px 1310px #c49129, 66px 338px #c49129, 1355px 615px #c49129,
        1139px 1672px #c49129, 91px 1000px #c49129, 112px 422px #c49129,
        89px 503px #c49129, 97px 1599px #c49129, 1031px 1955px #c49129,
        1755px 1532px #c49129, 1764px 1930px #c49129, 1822px 1751px #c49129,
        133px 401px #c49129, 718px 85px #c49129, 1797px 78px #c49129,
        520px 1725px #c49129, 226px 406px #c49129, 1561px 1574px #c49129,
        340px 1602px #c49129, 718px 976px #c49129, 1823px 570px #c49129,
        1298px 484px #c49129, 1023px 1903px #c49129, 1266px 1334px #c49129,
        763px 877px #c49129, 223px 631px #c49129, 1761px 1293px #c49129,
        878px 1px #c49129, 973px 696px #c49129, 975px 1841px #c49129,
        1276px 302px #c49129, 1399px 1324px #c49129, 1706px 872px #c49129,
        341px 1960px #c49129, 1384px 1655px #c49129, 1897px 767px #c49129,
        68px 405px #c49129, 705px 310px #c49129, 194px 103px #c49129,
        1432px 368px #c49129, 1262px 1682px #c49129, 1933px 1526px #c49129,
        263px 655px #c49129, 1031px 1031px #c49129, 1557px 788px #c49129,
        1558px 1360px #c49129, 812px 421px #c49129, 1951px 734px #c49129,
        1567px 498px #c49129, 1832px 1229px #c49129, 913px 164px #c49129,
        1907px 1273px #c49129, 533px 749px #c49129, 1235px 951px #c49129,
        645px 1959px #c49129, 92px 1570px #c49129, 1169px 1434px #c49129,
        118px 1223px #c49129, 583px 957px #c49129, 1245px 316px #c49129,
        527px 863px #c49129, 372px 1007px #c49129, 244px 1251px #c49129,
        314px 494px #c49129, 1842px 1463px #c49129, 1315px 730px #c49129,
        1655px 1366px #c49129, 482px 979px #c49129, 340px 1808px #c49129,
        256px 578px #c49129, 858px 1792px #c49129, 1965px 403px #c49129,
        454px 253px #c49129, 1664px 698px #c49129, 1974px 750px #c49129,
        262px 1801px #c49129, 1652px 1076px #c49129, 992px 711px #c49129,
        1792px 1323px #c49129, 700px 1748px #c49129, 855px 966px #c49129,
        1833px 1747px #c49129, 402px 1272px #c49129, 1391px 1039px #c49129,
        1395px 1538px #c49129, 397px 1972px #c49129, 744px 1403px #c49129,
        1784px 1046px #c49129, 111px 198px #c49129, 1827px 473px #c49129,
        1347px 1891px #c49129, 1238px 1081px #c49129, 189px 908px #c49129,
        1513px 542px #c49129, 673px 981px #c49129, 720px 1184px #c49129,
        373px 792px #c49129, 1470px 1631px #c49129, 16px 822px #c49129,
        1935px 829px #c49129, 364px 613px #c49129, 223px 899px #c49129,
        1233px 874px #c49129, 1441px 1834px #c49129, 719px 894px #c49129,
        76px 1610px #c49129, 296px 685px #c49129, 572px 1637px #c49129,
        349px 114px #c49129, 1670px 1802px #c49129, 979px 928px #c49129,
        1589px 574px #c49129, 756px 194px #c49129, 616px 507px #c49129,
        271px 186px #c49129, 198px 360px #c49129, 1916px 418px #c49129,
        721px 667px #c49129, 1937px 1908px #c49129, 17px 556px #c49129,
        345px 443px #c49129, 718px 760px #c49129, 1922px 310px #c49129,
        1185px 887px #c49129, 1745px 1848px #c49129, 909px 847px #c49129,
        1170px 134px #c49129, 1773px 1133px #c49129, 1099px 233px #c49129,
        1122px 1524px #c49129, 866px 907px #c49129, 398px 213px #c49129,
        1287px 886px #c49129, 1194px 149px #c49129, 1876px 1667px #c49129,
        332px 1658px #c49129, 146px 1253px #c49129, 958px 211px #c49129,
        643px 47px #c49129, 1213px 1339px #c49129, 1637px 1939px #c49129,
        1601px 355px #c49129, 256px 1982px #c49129, 989px 1609px #c49129,
        1179px 701px #c49129, 685px 1463px #c49129, 1910px 465px #c49129,
        764px 1930px #c49129, 1856px 433px #c49129, 720px 367px #c49129,
        1821px 416px #c49129, 48px 1114px #c49129, 716px 489px #c49129,
        174px 1972px #c49129, 115px 1373px #c49129, 1487px 141px #c49129,
        1919px 1362px #c49129, 1662px 859px #c49129, 1168px 490px #c49129,
        706px 1820px #c49129, 588px 318px #c49129, 107px 778px #c49129,
        621px 1667px #c49129, 1331px 1996px #c49129, 1404px 1154px #c49129,
        860px 1019px #c49129, 1385px 1883px #c49129, 1066px 1951px #c49129,
        752px 444px #c49129, 955px 1031px #c49129, 1256px 1899px #c49129,
        961px 1455px #c49129, 1101px 84px #c49129, 890px 335px #c49129,
        798px 40px #c49129, 138px 54px #c49129, 1934px 252px #c49129,
        429px 324px #c49129, 1645px 1522px #c49129, 218px 737px #c49129,
        1625px 531px #c49129, 605px 1290px #c49129, 1867px 648px #c49129,
        82px 1137px #c49129, 231px 1423px #c49129, 471px 944px #c49129,
        1363px 1752px #c49129, 482px 1364px #c49129, 1305px 627px #c49129,
        1065px 891px #c49129, 217px 1841px #c49129, 1843px 1501px #c49129,
        1681px 734px #c49129, 185px 856px #c49129, 609px 1094px #c49129,
        49px 1657px #c49129, 783px 594px #c49129, 1018px 1123px #c49129,
        644px 1149px #c49129, 739px 1262px #c49129, 1439px 1187px #c49129,
        1789px 1507px #c49129, 941px 791px #c49129, 1319px 1308px #c49129,
        498px 626px #c49129, 1594px 858px #c49129, 783px 71px #c49129,
        576px 1976px #c49129, 1625px 696px #c49129, 1821px 352px #c49129,
        1039px 885px #c49129, 208px 430px #c49129, 124px 198px #c49129,
        1964px 686px #c49129, 1440px 1952px #c49129, 231px 1435px #c49129,
        1846px 853px #c49129, 1174px 536px #c49129, 1228px 310px #c49129,
        1380px 699px #c49129, 1116px 169px #c49129, 1416px 1007px #c49129,
        178px 192px #c49129, 1302px 1903px #c49129, 1892px 154px #c49129,
        962px 1032px #c49129, 1009px 1916px #c49129, 1549px 1206px #c49129,
        899px 968px #c49129, 902px 543px #c49129, 1516px 542px #c49129,
        965px 527px #c49129, 1594px 696px #c49129, 856px 1719px #c49129,
        1522px 248px #c49129, 1795px 283px #c49129, 1144px 946px #c49129,
        1365px 199px #c49129, 359px 1347px #c49129, 1506px 263px #c49129,
        433px 1793px #c49129, 201px 247px #c49129, 942px 838px #c49129,
        1122px 1065px #c49129, 1997px 108px #c49129, 306px 989px #c49129,
        641px 1713px #c49129, 1072px 959px #c49129, 1874px 1079px #c49129,
        1938px 269px #c49129, 891px 389px #c49129, 22px 574px #c49129,
        727px 474px #c49129, 1671px 1649px #c49129, 98px 400px #c49129,
        641px 798px #c49129, 1218px 1051px #c49129, 907px 1485px #c49129,
        1002px 1549px #c49129, 1932px 1448px #c49129, 1132px 573px #c49129,
        1222px 1147px #c49129, 1009px 451px #c49129, 698px 1940px #c49129,
        97px 1123px #c49129, 904px 751px #c49129, 1904px 593px #c49129,
        1451px 1658px #c49129, 191px 1606px #c49129, 1346px 482px #c49129,
        1935px 1086px #c49129, 1052px 224px #c49129, 526px 1810px #c49129,
        1607px 606px #c49129, 427px 1830px #c49129, 1546px 407px #c49129,
        1771px 208px #c49129, 1714px 181px #c49129, 1332px 943px #c49129,
        1663px 1094px #c49129, 1861px 1747px #c49129, 1429px 1217px #c49129,
        1733px 1915px #c49129, 925px 1179px #c49129, 735px 781px #c49129,
        1775px 1989px #c49129, 1770px 476px #c49129, 844px 400px #c49129,
        1793px 1517px #c49129, 544px 281px #c49129, 725px 344px #c49129,
        1274px 764px #c49129, 1845px 339px #c49129, 582px 1745px #c49129,
        351px 1287px #c49129, 207px 749px #c49129, 1063px 1411px #c49129,
        1246px 342px #c49129, 1538px 166px #c49129, 770px 602px #c49129,
        1214px 1971px #c49129, 113px 294px #c49129, 1157px 101px #c49129,
        1657px 517px #c49129, 637px 1693px #c49129, 961px 1649px #c49129,
        1754px 1572px #c49129, 1885px 659px #c49129, 238px 34px #c49129,
        413px 1027px #c49129, 1709px 1556px #c49129, 460px 878px #c49129,
        1597px 608px #c49129, 544px 434px #c49129, 1258px 477px #c49129,
        565px 1863px #c49129, 426px 322px #c49129, 1917px 850px #c49129,
        296px 144px #c49129, 643px 1896px #c49129, 511px 116px #c49129,
        359px 847px #c49129, 702px 1133px #c49129, 857px 1371px #c49129,
        559px 1758px #c49129, 1615px 1223px #c49129, 1927px 1736px #c49129,
        704px 941px #c49129, 1932px 942px #c49129, 1462px 335px #c49129,
        154px 1915px #c49129, 1387px 918px #c49129, 1512px 1041px #c49129,
        1094px 1334px #c49129, 1678px 865px #c49129, 1960px 431px #c49129,
        666px 1258px #c49129, 422px 1215px #c49129, 345px 802px #c49129,
        1207px 647px #c49129, 1701px 374px #c49129, 1440px 1925px #c49129,
        1536px 1163px #c49129, 905px 155px #c49129, 843px 1036px #c49129,
        660px 823px #c49129, 1329px 661px #c49129, 1867px 899px #c49129,
        1022px 514px #c49129, 1062px 1570px #c49129, 888px 1786px #c49129,
        699px 1738px #c49129, 1831px 1712px #c49129, 434px 18px #c49129,
        227px 205px #c49129, 520px 1279px #c49129, 1329px 764px #c49129,
        1824px 47px #c49129, 112px 266px #c49129, 830px 1140px #c49129,
        478px 637px #c49129, 634px 850px #c49129, 711px 873px #c49129,
        987px 249px #c49129, 1454px 909px #c49129, 699px 922px #c49129,
        1458px 1142px #c49129, 701px 1893px #c49129, 134px 384px #c49129,
        904px 354px #c49129, 1913px 1229px #c49129, 1606px 1336px #c49129,
        976px 1776px #c49129, 1726px 605px #c49129, 1244px 590px #c49129,
        1351px 526px #c49129, 1997px 130px #c49129, 1137px 1134px #c49129,
        1293px 283px #c49129, 977px 1608px #c49129, 422px 1252px #c49129,
        236px 1653px #c49129, 28px 1722px #c49129, 698px 39px #c49129,
        5px 434px #c49129, 1430px 1466px #c49129, 1470px 1596px #c49129,
        487px 81px #c49129, 186px 340px #c49129, 1941px 1px #c49129,
        1342px 487px #c49129, 813px 1855px #c49129, 1445px 148px #c49129,
        1965px 1428px #c49129, 1122px 1277px #c49129, 846px 820px #c49129,
        1804px 228px #c49129, 1501px 121px #c49129, 215px 1033px #c49129,
        244px 426px #c49129, 976px 453px #c49129, 566px 953px #c49129,
        1772px 213px #c49129, 1323px 1778px #c49129, 1350px 817px #c49129,
        803px 913px #c49129, 1395px 1359px #c49129, 1995px 119px #c49129,
        579px 1963px #c49129, 862px 1621px #c49129, 1718px 825px #c49129,
        823px 27px #c49129, 1252px 41px #c49129, 1562px 835px #c49129,
        1730px 633px #c49129, 1723px 1939px #c49129, 524px 1824px #c49129,
        1921px 1450px #c49129, 1174px 1062px #c49129, 1008px 1932px #c49129,
        467px 334px #c49129, 80px 818px #c49129, 1266px 1185px #c49129,
        1589px 807px #c49129, 1221px 320px #c49129, 1724px 852px #c49129,
        1194px 286px #c49129, 800px 1835px #c49129, 1958px 728px #c49129,
        1271px 376px #c49129, 43px 1654px #c49129, 77px 803px #c49129,
        1399px 197px #c49129, 591px 1743px #c49129, 652px 1925px #c49129,
        107px 1939px #c49129, 1110px 1708px #c49129, 797px 1480px #c49129,
        1516px 684px #c49129, 559px 1733px #c49129, 1265px 718px #c49129,
        1263px 54px #c49129, 693px 113px #c49129, 1456px 1459px #c49129,
        1527px 1324px #c49129;
}

/* Stars Effect  */

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 1907px 1575px #c49129, 893px 268px #c49129, 1819px 666px #c49129,
        366px 1985px #c49129, 1736px 1062px #c49129, 1124px 45px #c49129,
        905px 1674px #c49129, 1570px 711px #c49129, 255px 1747px #c49129,
        147px 1032px #c49129, 865px 1813px #c49129, 1721px 1461px #c49129,
        202px 724px #c49129, 1860px 812px #c49129, 634px 1410px #c49129,
        927px 1264px #c49129, 1648px 620px #c49129, 1915px 1309px #c49129,
        731px 778px #c49129, 91px 1185px #c49129, 829px 1003px #c49129,
        174px 1784px #c49129, 1094px 1874px #c49129, 1464px 484px #c49129,
        1639px 1717px #c49129, 959px 573px #c49129, 1686px 1287px #c49129,
        906px 356px #c49129, 970px 499px #c49129, 626px 890px #c49129,
        1344px 1070px #c49129, 1351px 544px #c49129, 708px 68px #c49129,
        1870px 130px #c49129, 556px 1270px #c49129, 1432px 618px #c49129,
        769px 673px #c49129, 1289px 1410px #c49129, 1499px 1969px #c49129,
        749px 1163px #c49129, 1198px 198px #c49129, 399px 133px #c49129,
        1856px 1280px #c49129, 904px 194px #c49129, 973px 1107px #c49129,
        1371px 1785px #c49129, 989px 1835px #c49129, 1043px 1517px #c49129,
        787px 916px #c49129, 1635px 1155px #c49129, 752px 524px #c49129,
        1926px 1279px #c49129, 1052px 1163px #c49129, 719px 1963px #c49129,
        786px 519px #c49129, 1440px 500px #c49129, 156px 1265px #c49129,
        1691px 429px #c49129, 1349px 1474px #c49129, 736px 459px #c49129,
        248px 1678px #c49129, 1136px 510px #c49129, 1317px 10px #c49129,
        1209px 1323px #c49129, 54px 469px #c49129, 730px 1939px #c49129,
        960px 23px #c49129, 112px 941px #c49129, 1852px 1522px #c49129,
        1993px 1972px #c49129, 265px 129px #c49129, 222px 1897px #c49129,
        1766px 1804px #c49129, 1530px 1786px #c49129, 1045px 432px #c49129,
        1916px 1980px #c49129, 309px 1780px #c49129, 1420px 559px #c49129,
        1708px 103px #c49129, 324px 1407px #c49129, 1175px 943px #c49129,
        80px 1221px #c49129, 1016px 1933px #c49129, 318px 560px #c49129,
        190px 1489px #c49129, 1095px 892px #c49129, 1975px 1191px #c49129,
        1197px 955px #c49129, 1482px 873px #c49129, 1912px 300px #c49129,
        2000px 1636px #c49129, 1473px 1808px #c49129, 507px 192px #c49129,
        924px 1300px #c49129, 1485px 1636px #c49129, 41px 1822px #c49129,
        689px 120px #c49129, 769px 273px #c49129, 1039px 976px #c49129,
        1057px 1520px #c49129, 1417px 1187px #c49129, 512px 1507px #c49129,
        519px 45px #c49129, 1207px 1687px #c49129, 1824px 1488px #c49129,
        1694px 31px #c49129, 1859px 52px #c49129, 1368px 268px #c49129,
        190px 1404px #c49129, 940px 1003px #c49129, 167px 942px #c49129,
        1641px 647px #c49129, 1051px 654px #c49129, 233px 1640px #c49129,
        554px 511px #c49129, 1705px 1866px #c49129, 240px 1430px #c49129,
        140px 668px #c49129, 648px 1617px #c49129, 252px 101px #c49129,
        676px 1774px #c49129, 889px 1698px #c49129, 595px 853px #c49129,
        249px 1768px #c49129, 1091px 1529px #c49129, 223px 839px #c49129,
        239px 699px #c49129, 1547px 356px #c49129, 249px 1130px #c49129,
        1209px 1946px #c49129, 1967px 1274px #c49129, 430px 298px #c49129,
        1305px 134px #c49129, 156px 91px #c49129, 1712px 264px #c49129,
        1256px 991px #c49129, 1887px 1844px #c49129, 1957px 1275px #c49129,
        1718px 666px #c49129, 1090px 543px #c49129, 933px 1411px #c49129,
        801px 323px #c49129, 202px 1659px #c49129, 1117px 549px #c49129,
        290px 1859px #c49129, 1380px 1516px #c49129, 557px 1165px #c49129,
        1953px 1758px #c49129, 1901px 1407px #c49129, 1144px 347px #c49129,
        1640px 271px #c49129, 1996px 43px #c49129, 838px 488px #c49129,
        1151px 1529px #c49129, 306px 460px #c49129, 1666px 635px #c49129,
        1572px 633px #c49129, 1797px 1076px #c49129, 1727px 1119px #c49129,
        474px 871px #c49129, 1491px 1398px #c49129, 1301px 868px #c49129,
        1632px 454px #c49129, 1611px 466px #c49129, 498px 1162px #c49129,
        796px 269px #c49129, 1988px 747px #c49129, 502px 12px #c49129,
        276px 1260px #c49129, 1536px 974px #c49129, 956px 656px #c49129,
        107px 701px #c49129, 965px 491px #c49129, 1646px 247px #c49129,
        1515px 921px #c49129, 1813px 519px #c49129, 697px 143px #c49129,
        591px 1452px #c49129, 1773px 1411px #c49129, 1622px 1401px #c49129,
        534px 340px #c49129, 1590px 284px #c49129, 1464px 528px #c49129,
        734px 1718px #c49129, 1929px 1683px #c49129, 656px 480px #c49129,
        833px 705px #c49129, 1567px 109px #c49129, 1055px 330px #c49129,
        1943px 1367px #c49129, 1935px 1512px #c49129, 355px 1024px #c49129,
        1894px 218px #c49129, 1703px 1772px #c49129, 781px 1394px #c49129,
        367px 42px #c49129, 100px 690px #c49129, 1831px 458px #c49129,
        1884px 1878px #c49129, 814px 1013px #c49129;
    animation: animStar 60s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 1907px 1575px #c49129, 893px 268px #c49129, 1819px 666px #c49129,
        366px 1985px #c49129, 1736px 1062px #c49129, 1124px 45px #c49129,
        905px 1674px #c49129, 1570px 711px #c49129, 255px 1747px #c49129,
        147px 1032px #c49129, 865px 1813px #c49129, 1721px 1461px #c49129,
        202px 724px #c49129, 1860px 812px #c49129, 634px 1410px #c49129,
        927px 1264px #c49129, 1648px 620px #c49129, 1915px 1309px #c49129,
        731px 778px #c49129, 91px 1185px #c49129, 829px 1003px #c49129,
        174px 1784px #c49129, 1094px 1874px #c49129, 1464px 484px #c49129,
        1639px 1717px #c49129, 959px 573px #c49129, 1686px 1287px #c49129,
        906px 356px #c49129, 970px 499px #c49129, 626px 890px #c49129,
        1344px 1070px #c49129, 1351px 544px #c49129, 708px 68px #c49129,
        1870px 130px #c49129, 556px 1270px #c49129, 1432px 618px #c49129,
        769px 673px #c49129, 1289px 1410px #c49129, 1499px 1969px #c49129,
        749px 1163px #c49129, 1198px 198px #c49129, 399px 133px #c49129,
        1856px 1280px #c49129, 904px 194px #c49129, 973px 1107px #c49129,
        1371px 1785px #c49129, 989px 1835px #c49129, 1043px 1517px #c49129,
        787px 916px #c49129, 1635px 1155px #c49129, 752px 524px #c49129,
        1926px 1279px #c49129, 1052px 1163px #c49129, 719px 1963px #c49129,
        786px 519px #c49129, 1440px 500px #c49129, 156px 1265px #c49129,
        1691px 429px #c49129, 1349px 1474px #c49129, 736px 459px #c49129,
        248px 1678px #c49129, 1136px 510px #c49129, 1317px 10px #c49129,
        1209px 1323px #c49129, 54px 469px #c49129, 730px 1939px #c49129,
        960px 23px #c49129, 112px 941px #c49129, 1852px 1522px #c49129,
        1993px 1972px #c49129, 265px 129px #c49129, 222px 1897px #c49129,
        1766px 1804px #c49129, 1530px 1786px #c49129, 1045px 432px #c49129,
        1916px 1980px #c49129, 309px 1780px #c49129, 1420px 559px #c49129,
        1708px 103px #c49129, 324px 1407px #c49129, 1175px 943px #c49129,
        80px 1221px #c49129, 1016px 1933px #c49129, 318px 560px #c49129,
        190px 1489px #c49129, 1095px 892px #c49129, 1975px 1191px #c49129,
        1197px 955px #c49129, 1482px 873px #c49129, 1912px 300px #c49129,
        2000px 1636px #c49129, 1473px 1808px #c49129, 507px 192px #c49129,
        924px 1300px #c49129, 1485px 1636px #c49129, 41px 1822px #c49129,
        689px 120px #c49129, 769px 273px #c49129, 1039px 976px #c49129,
        1057px 1520px #c49129, 1417px 1187px #c49129, 512px 1507px #c49129,
        519px 45px #c49129, 1207px 1687px #c49129, 1824px 1488px #c49129,
        1694px 31px #c49129, 1859px 52px #c49129, 1368px 268px #c49129,
        190px 1404px #c49129, 940px 1003px #c49129, 167px 942px #c49129,
        1641px 647px #c49129, 1051px 654px #c49129, 233px 1640px #c49129,
        554px 511px #c49129, 1705px 1866px #c49129, 240px 1430px #c49129,
        140px 668px #c49129, 648px 1617px #c49129, 252px 101px #c49129,
        676px 1774px #c49129, 889px 1698px #c49129, 595px 853px #c49129,
        249px 1768px #c49129, 1091px 1529px #c49129, 223px 839px #c49129,
        239px 699px #c49129, 1547px 356px #c49129, 249px 1130px #c49129,
        1209px 1946px #c49129, 1967px 1274px #c49129, 430px 298px #c49129,
        1305px 134px #c49129, 156px 91px #c49129, 1712px 264px #c49129,
        1256px 991px #c49129, 1887px 1844px #c49129, 1957px 1275px #c49129,
        1718px 666px #c49129, 1090px 543px #c49129, 933px 1411px #c49129,
        801px 323px #c49129, 202px 1659px #c49129, 1117px 549px #c49129,
        290px 1859px #c49129, 1380px 1516px #c49129, 557px 1165px #c49129,
        1953px 1758px #c49129, 1901px 1407px #c49129, 1144px 347px #c49129,
        1640px 271px #c49129, 1996px 43px #c49129, 838px 488px #c49129,
        1151px 1529px #c49129, 306px 460px #c49129, 1666px 635px #c49129,
        1572px 633px #c49129, 1797px 1076px #c49129, 1727px 1119px #c49129,
        474px 871px #c49129, 1491px 1398px #c49129, 1301px 868px #c49129,
        1632px 454px #c49129, 1611px 466px #c49129, 498px 1162px #c49129,
        796px 269px #c49129, 1988px 747px #c49129, 502px 12px #c49129,
        276px 1260px #c49129, 1536px 974px #c49129, 956px 656px #c49129,
        107px 701px #c49129, 965px 491px #c49129, 1646px 247px #c49129,
        1515px 921px #c49129, 1813px 519px #c49129, 697px 143px #c49129,
        591px 1452px #c49129, 1773px 1411px #c49129, 1622px 1401px #c49129,
        534px 340px #c49129, 1590px 284px #c49129, 1464px 528px #c49129,
        734px 1718px #c49129, 1929px 1683px #c49129, 656px 480px #c49129,
        833px 705px #c49129, 1567px 109px #c49129, 1055px 330px #c49129,
        1943px 1367px #c49129, 1935px 1512px #c49129, 355px 1024px #c49129,
        1894px 218px #c49129, 1703px 1772px #c49129, 781px 1394px #c49129,
        367px 42px #c49129, 100px 690px #c49129, 1831px 458px #c49129,
        1884px 1878px #c49129, 814px 1013px #c49129;
}

#stars3 {
    content: "e";
    background: transparent;
    width: 3px;
    height: 3px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 1994px 1692px #c49129, 961px 1928px #c49129,
        819px 1320px #c49129, 1899px 52px #c49129, 28px 1937px #c49129,
        157px 88px #c49129, 860px 1909px #c49129, 720px 427px #c49129,
        1319px 1469px #c49129, 677px 960px #c49129, 1265px 1181px #c49129,
        1176px 1361px #c49129, 1957px 753px #c49129, 1674px 1355px #c49129,
        929px 1206px #c49129, 1038px 898px #c49129, 1229px 365px #c49129,
        1085px 51px #c49129, 851px 650px #c49129, 385px 21px #c49129,
        41px 1153px #c49129, 718px 70px #c49129, 1321px 579px #c49129,
        497px 1458px #c49129, 1981px 813px #c49129, 776px 1187px #c49129,
        1345px 31px #c49129, 1571px 400px #c49129, 339px 587px #c49129,
        146px 750px #c49129, 64px 61px #c49129, 307px 981px #c49129,
        388px 849px #c49129, 1398px 936px #c49129, 522px 765px #c49129,
        1146px 350px #c49129, 19px 206px #c49129, 1767px 319px #c49129,
        1203px 425px #c49129, 1917px 1018px #c49129, 91px 1401px #c49129,
        898px 697px #c49129, 1712px 1121px #c49129, 633px 1119px #c49129,
        137px 1266px #c49129, 1006px 931px #c49129, 1644px 1804px #c49129,
        1596px 1057px #c49129, 1298px 543px #c49129, 1505px 996px #c49129,
        1972px 1383px #c49129, 1210px 1497px #c49129, 804px 1840px #c49129,
        913px 1047px #c49129, 187px 1824px #c49129, 1564px 1994px #c49129,
        557px 1737px #c49129, 508px 1609px #c49129, 1259px 1911px #c49129,
        1294px 1381px #c49129, 1845px 1843px #c49129, 667px 1497px #c49129,
        1046px 945px #c49129, 937px 1889px #c49129, 982px 1806px #c49129,
        1293px 671px #c49129, 668px 904px #c49129, 358px 1971px #c49129,
        133px 766px #c49129, 1152px 1573px #c49129, 318px 694px #c49129,
        578px 1184px #c49129, 1620px 1701px #c49129, 1359px 354px #c49129,
        1807px 1367px #c49129, 458px 911px #c49129, 1387px 806px #c49129,
        523px 81px #c49129, 1243px 341px #c49129, 906px 1730px #c49129,
        1629px 474px #c49129, 1690px 419px #c49129, 847px 808px #c49129,
        528px 1627px #c49129, 480px 718px #c49129, 537px 593px #c49129,
        1432px 1333px #c49129, 200px 1228px #c49129, 1800px 1375px #c49129,
        725px 1231px #c49129, 1749px 1432px #c49129, 1948px 303px #c49129,
        1889px 252px #c49129, 1114px 1400px #c49129, 759px 646px #c49129,
        222px 571px #c49129, 1908px 1401px #c49129, 1856px 1204px #c49129,
        338px 1645px #c49129, 1528px 1050px #c49129;
    animation: animStar 100s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    border-radius: 100%;
    box-shadow: 1994px 1692px #c49129, 961px 1928px #c49129,
        819px 1320px #c49129, 1899px 52px #c49129, 28px 1937px #c49129,
        157px 88px #c49129, 860px 1909px #c49129, 720px 427px #c49129,
        1319px 1469px #c49129, 677px 960px #c49129, 1265px 1181px #c49129,
        1176px 1361px #c49129, 1957px 753px #c49129, 1674px 1355px #c49129,
        929px 1206px #c49129, 1038px 898px #c49129, 1229px 365px #c49129,
        1085px 51px #c49129, 851px 650px #c49129, 385px 21px #c49129,
        41px 1153px #c49129, 718px 70px #c49129, 1321px 579px #c49129,
        497px 1458px #c49129, 1981px 813px #c49129, 776px 1187px #c49129,
        1345px 31px #c49129, 1571px 400px #c49129, 339px 587px #c49129,
        146px 750px #c49129, 64px 61px #c49129, 307px 981px #c49129,
        388px 849px #c49129, 1398px 936px #c49129, 522px 765px #c49129,
        1146px 350px #c49129, 19px 206px #c49129, 1767px 319px #c49129,
        1203px 425px #c49129, 1917px 1018px #c49129, 91px 1401px #c49129,
        898px 697px #c49129, 1712px 1121px #c49129, 633px 1119px #c49129,
        137px 1266px #c49129, 1006px 931px #c49129, 1644px 1804px #c49129,
        1596px 1057px #c49129, 1298px 543px #c49129, 1505px 996px #c49129,
        1972px 1383px #c49129, 1210px 1497px #c49129, 804px 1840px #c49129,
        913px 1047px #c49129, 187px 1824px #c49129, 1564px 1994px #c49129,
        557px 1737px #c49129, 508px 1609px #c49129, 1259px 1911px #c49129,
        1294px 1381px #c49129, 1845px 1843px #c49129, 667px 1497px #c49129,
        1046px 945px #c49129, 937px 1889px #c49129, 982px 1806px #c49129,
        1293px 671px #c49129, 668px 904px #c49129, 358px 1971px #c49129,
        133px 766px #c49129, 1152px 1573px #c49129, 318px 694px #c49129,
        578px 1184px #c49129, 1620px 1701px #c49129, 1359px 354px #c49129,
        1807px 1367px #c49129, 458px 911px #c49129, 1387px 806px #c49129,
        523px 81px #c49129, 1243px 341px #c49129, 906px 1730px #c49129,
        1629px 474px #c49129, 1690px 419px #c49129, 847px 808px #c49129,
        528px 1627px #c49129, 480px 718px #c49129, 537px 593px #c49129,
        1432px 1333px #c49129, 200px 1228px #c49129, 1800px 1375px #c49129,
        725px 1231px #c49129, 1749px 1432px #c49129, 1948px 303px #c49129,
        1889px 252px #c49129, 1114px 1400px #c49129, 759px 646px #c49129,
        222px 571px #c49129, 1908px 1401px #c49129, 1856px 1204px #c49129,
        338px 1645px #c49129, 1528px 1050px #c49129;
}

@keyframes animStar {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.row {
    z-index: 4;
}

/* Stars Effect END */
